<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Guess Number</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

    <h1>🎯 Guess Secret Number</h1>

    <h2>

        🎮 Target:
        {{ target }}

    </h2>

    <form method="POST">

        <input type="number" name="guess" min="1" max="100" placeholder="🎯 Enter Your Guess" required>

        <br><br>

        <button type="submit" onclick="playClick()">

            🚀 Submit Guess

        </button>

    </form>

    <h3>

        🔢 Your Attempts:
        {{ attempts }}

    </h3>

    <h2>

        {{ message }}

    </h2>

    <br>

    <a href="/">

        <button onclick="playClick()">

            🏠 Home

        </button>

    </a>

    <!-- Sound Controls -->

    <div class="sound-controls">

        <button id="musicBtn" onclick="toggleMusic()">

            🎵 Music ON

        </button>

        <button id="soundBtn" onclick="toggleSound()">

            🔊 Sound ON

        </button>

    </div>

    <!-- Background Music -->

    <audio id="bgMusic" loop>

        <source src="{{ url_for('static',
            filename='music/bg_music.mp3') }}" type="audio/mpeg">

    </audio>

    <!-- Click Sound -->

    <audio id="clickSound">

        <source src="{{ url_for('static',
            filename='sounds/click.mp3') }}" type="audio/mpeg">

    </audio>

    <!-- Win Sound -->

    <audio id="winSound">

        <source src="{{ url_for('static',
            filename='sounds/win.mp3') }}" type="audio/mpeg">

    </audio>

    <!-- Wrong Sound -->

    <audio id="wrongSound">

        <source src="{{ url_for('static',
            filename='sounds/wrong.mp3') }}" type="audio/mpeg">

    </audio>

    <!-- Sound JS -->

    <audio id="bgMusic" loop>
        <source src="{{ url_for('static', filename='music/bg_music.mp3') }}" type="audio/mpeg">
    </audio>

    <script src="{{ url_for('static', filename='js/sound.js') }}"></script>
</body>

</html>