<!DOCTYPE html>
<html>

<head>
    <title>Guess Number</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <h1>🎯 Guess Secret Number</h1>

    <h2>Target: {{ target }}</h2>

    <form method="POST">

        <input type="number" name="guess" min="1" max="100" placeholder="🎯 Enter Your Guess" required>

        <button type="submit">
            Submit Guess
        </button>

    </form>

    <h3>
        Your Attempts:
        {{ attempts }}
    </h3>

    <h2>{{ message }}</h2>

</body>

</html>