<!DOCTYPE html>

<html>

<head>

```
<meta charset="UTF-8">

<meta name="viewport"
      content="width=device-width, initial-scale=1.0">

<title>Guess Game</title>

<link rel="stylesheet"
      href="{{ url_for('static',
      filename='css/style.css') }}">
```

</head>

<body>

```
<div class="sound-controls">

    <button
    id="musicBtn"
    onclick="toggleMusic()">

        🎵 Music ON

    </button>

    <button
    id="soundBtn"
    onclick="toggleSound()">

        🔊 Sound ON

    </button>

</div>

<h1>🎮 Number Guess Game</h1>

<div class="menu-container">

    <a href="/single">

        <button onclick="playClick()">

            🎯 Single Player

        </button>

    </a>

    <a href="/create-room">

        <button onclick="playClick()">

            🏠 Create Room

        </button>

    </a>

    <a href="/join-room">

        <button onclick="playClick()">

            👥 Join Room

        </button>

    </a>

    <a href="/hall">

        <button onclick="playClick()">

            🏆 Hall Of Fame

        </button>

    </a>

</div>

<audio
id="bgMusic"
loop>

    <source
    src="{{ url_for('static',
    filename='music/bg_music.mp3') }}"
    type="audio/mpeg">

</audio>

<audio
id="clickSound">

    <source
    src="{{ url_for('static',
    filename='sounds/click.mp3') }}"
    type="audio/mpeg">

</audio>

<script
src="{{ url_for('static',
filename='js/sound.js') }}">
</script>
```

</body>

</html>
