<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Guess Game</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

    <h1>🎮 Number Guess Game</h1>

    <div class="menu-container">

        <a href="/single">
            <button>
                🎯 Single Player
            </button>
        </a>

        <a href="/create-room">
            <button>
                🏠 Create Room
            </button>
        </a>

        <a href="/join-room">
            <button>
                👥 Join Room
            </button>
        </a>

        <a href="/hall">
            <button>
                🏆 Hall Of Fame
            </button>
        </a>

    </div>

</body>

</html>