<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multiplayer Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <h1 class="game-title">
        🎮 Multiplayer Guess Game
    </h1>

    <h2>Room: {{ room_code }}</h2>

    <h3>Player: {{ player_name }}</h3>

    <a href="/set-secret/{{ room_code }}/{{ player_name }}">
        <button onclick="playClick()">
            🔒 Set Secret Number
        </button>
    </a>

    <br><br>

    <a href="/start-game/{{ room_code }}/{{ player_name }}">
        <button onclick="playClick()">
            ▶ Start Game
        </button>
    </a>

    <hr>

    <h3>Players In Room</h3>

    {% for player, data in players.items() %}

    <p>
        👤 {{ player }}
    </p>

    {% endfor %}

    <hr>

    <h2>{{ message }}</h2>

    <br>

    <a href="/">
        <button onclick="playClick()">
            🏠 Home
        </button>
    </a>

    <audio id="joinSound" autoplay>

        <source src="{{ url_for('static',
    filename='sounds/join.mp3') }}">

    </audio>

</body>

</html>